<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <rosparam file="$(find move_base)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find move_base)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find move_base)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find move_base)/config/global_costmap_params.yaml" command="load" />
    <!--局部路径参数配置-->
    <rosparam file="$(find move_base)/config/DWA_local_planner_params.yaml" command="load" />
    <!--全局路径参数配置-->
    <rosparam file="$(find move_base)/config/base_global_planner_params.yaml" command="load" />
    <rosparam file="$(find move_base)/config/move_base_params.yaml" command="load" />
    <!-- <remap from="cmd_vel" to="raw_cmd_vel"/> -->
  </node>
  
</launch>