<launch>
    <arg name="wheel_interval" default="0.3"/>
    <arg name="wheel_radius" default="0.17"/>
    <arg name="nn" default="1000"/>
    <node pkg="transform_velocity" type="transform_velocity" name="transform_velocity" output="screen">
        <param name="wheel_interval" type="double" value="$(arg wheel_interval)"/>
        <param name="wheel_radius" type="double" value="$(arg wheel_radius)"/>
        <param name="nn" type="int" value="$(arg nn)"/>
    </node>
</launch>
